In [6]:
import pandas as pd
import numpy as np


v1 = pd.DataFrame([['ind1', 1, 2, 3], ['ind2', 4, 5, 6]], columns=['id', 'c1', 'c2', 'c3']).set_index('id')
v2 = pd.DataFrame([['ind1', 2, 3, 4], ['ind2', 6, 1, 2]], columns=['id', 'c1', 'c2', 'c3']).set_index('id')
v3 = pd.DataFrame([['ind1', 1, 2, 1], ['ind2', 1, 1, 3]], columns=['id', 'c1', 'c2', 'c3']).set_index('id')
display(v1),display(v2)
display(v3)

      c1  c2  c3
id
ind1   1   2   3
ind2   4   5   6

      c1  c2  c3
id
ind1   2   3   4
ind2   6   1   2

      c1  c2  c3
id
ind1   1   2   1
ind2   1   1   3

In [8]:
pd.concat([v1, v2, v3]).groupby(level=0).mean()

            c1        c2        c3
id
ind1  1.333333  2.333333  2.666667
ind2  3.666667  2.333333  3.666667